@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: antiquewhite;
  background: linear-gradient(to right, #96b6c5 50%, #febbcc 50%);
  border: 3px solid #42413b;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.left,
.right {
  width: 50%;
  height: 50vh;
}

.left {
  /* background-color: #96B6C5; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  /* background-color:#FEBBCC; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.boy,
.girl {
  border-radius: 50%;
  border: 3px solid #eee0c9;
}

.container1 {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  text-align: center;
}
.upper {
  width: 90%;
  background-color: #eee0c9;
  border-radius: 10px;
  padding: 9px;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  border: 3px solid #42413b;
}

/* Navbar */

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  width: 60%;
  border-radius: 10px;
  border: 3px solid #42413b;
}

.red-svg path {
  fill: #f695ad;
}
.blue-svg {
  fill: #7aaec6;
}
.black-svg {
  fill: #42413b;
}

.footer{

  display: flex;
  justify-content: center;
  margin-top:20px;
  gap: 40px;
}
.lang {

width: 40px;
height: 20px;
background-color: #eee0c9;
border-color: #42413b;
color: #31302b;
}
.lang:nth-child(1):hover {
  color: #f7a8bc;
  background-color: #7aaec6;
}
.lang:nth-child(2):hover{
  background-color: #febbcc;
  color: #6da9c5;
}

